@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

body {
    background-color: black;
    overflow-x: hidden;
    height: 100vh;
}

.popup span.comingSoon {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 1;
    animation: fadeIn 0.4s forwards;
}

.popup div.comingSoon {
    background-color: rgba(255, 255, 255, 0.25);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    z-index: 2;
    animation: fadeIn 0.4s forwards;
}

.popup span.comingSoon.fadeOut,
.popup div.comingSoon.fadeOut {
    animation: fadeOut 0.4s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.gameName {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    font-family: "Rubik", sans-serif;
    margin: 8%;
}

.stats {
    display: flex;
    margin: 5% 10%;
}

.stats .profile-stats {
    display: flex;
    align-items: center;
}

.stats .profile-stats .name {
    font-size: 15px;
}

.stats > *{
    flex: 1;
}

.stats .profile-stats .picture {
    overflow: hidden;
    margin-right: 10px;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: #6B6B6B;
}

.level {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
    text-align: end;
}

.level > * {
    flex: 100%;
}

.level p {
    position: relative;
    top: 5px;
}

.level .progressBar {
    width: 100%;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    overflow: hidden;
    margin-top: 5px;
}

.level .progress {
    height: 15px;
    background: linear-gradient(90deg,#A1EEEE, #DBD095, #99006E);
    border-radius: 0 15px 15px 0; 
    transition: all 0.5s;
}




.main {
    margin-top: 10%;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    box-shadow: 0 0px 120px 30px #be519f;
    background: linear-gradient(#000F2C, #000F2C, #003292);
    width: 100%;
    height: 100%;
}

.main .menu {
    display: flex;
    justify-content: space-between;
    margin: 0 38px;
    position: relative;
    top: 38px;
}

.main .menu > * {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 28px;
    padding: 5px;
}

.main .menu .info {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main .menu .info > * {
    text-align: center;
}

.main .menu .info .border {
    height: 40px;
    width: 1px;
    background-color: rgb(218, 218, 218);
}

.main .menu .info h6 {
    font-size: 12px;
    margin-bottom: 3px;
}

.main .menu .info p {
    font-size: 18px;
}

.main .menu .navigation {
    width: 42%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main .menu .navigation > *:first-child {
    background-color: #000F2C;
}

.main .menu .navigation > * {
    font-size: 13px;
    width: 50%;
    height: 60px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.clicker .coinsAmount {
    width: 100%;
    margin: 70px 0 20px 0;
    text-align: center;
    font-size: 40px;
}

.clicker .coinsAmount > * {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}

.clicker .clickerBtn {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

.clicker .clickerBtn img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 60%;
    height: auto;
    border: 10px solid #DBD095;
    box-shadow: 0 0px 30px 1px #000613;
    border-radius: 50%;
}

.rewards {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 50px 0;
    cursor: pointer;
}

.rewards .reward {
    background-color: rgba(255, 255, 255, 0.25);
    text-align: center;
    padding: 10px 30px;
    border-radius: 15px;
}